<% provide(:title, @users.name)%>
<div>
  <aside>
    <section>
      <h1>
        <%=gravatar_for @users %>
        <%= @users.name %>
      </h1>
      <%= @users.name %>, <%= @users.email %>
    </section>
  </aside>
</div>
